body {
  font-family: Arial;
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  padding: 20px;
  border: 4px solid black;
  border-radius: 10px;
  transition: border-color 0.4s;
}

.solid { border-style: solid; }
.dashed { border-style: dashed; }
.double { border-style: double; }
.groove { border-style: groove; }

.box:hover {
  border-color: tomato;
}
