body {
  text-align: center;
  font-family: Arial;
}

.outer {
  margin: 40px;
  padding: 20px;
  border: 5px solid blue;
  background: lightblue;
  display: inline-block;
}

.inner {
  padding: 20px;
  background: white;
  border: 3px dashed red;
}
