body {
  margin: 0;
  font-family: Arial;
}

nav {
  background: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  transition: all 0.3s ease;
}

li a:hover {
  background: #555;
}

.active {
  background: royalblue;
}

@media (max-width: 700px) {
  ul {
    flex-direction: column;
  }
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}
