body {
  text-align: center;
  font-family: Arial;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  width: 250px;
}

input:focus, textarea:focus {
  outline: 2px solid royalblue;
  outline-offset: 4px;
}
