body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px gray;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 15px black;
}
