body {
  text-align: center;
  font-family: Arial;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  background: skyblue;
  padding: 30px;
  width: 100px;
  transition: all 0.4s ease;
}

.rotate:hover { transform: rotate(20deg); }
.scale:hover { transform: scale(1.3); }
.translate:hover { transform: translateY(-20px); }
.skew:hover { transform: skew(20deg, 10deg); }
