body {
  font-family: 'Arial';
  margin: 40px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px 2px gray;
}

mark {
  background: yellow;
  color: black;
}

strong {
  color: darkblue;
}

em {
  color: crimson;
}

p::first-letter {
  font-size: 150%;
  color: teal;
}
