body {
  font-family: Arial;
  margin: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

figure {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 8px gray;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}
