body {
  font-family: Arial;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 30px;
}

.tooltip {
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.tip {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
}

.tooltip:hover .tip {
  opacity: 1;
}
