body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #f1f8e9);
  font-family: Arial;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover { background: lightblue; }
input:focus, select:focus { border-color: royalblue; }
