body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8;
}

.loader {
    display: flex;
    gap: 1em;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.circle2 {
    animation-delay: 0.2s;
}

.circle3 {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        transform: translateY(-20px);
    }
}
